h1, h3 {
    color: rgb(206, 189, 156);
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: circle;
}

a, li {
    color: rgb(76, 104, 78);
}

img {
    border: 12px solid rgb(76, 104, 78);
}